<form name="requestAddress">
  <div class="form-group">
    <label for="Address">Address</label>
    <input class="form-control" cam-variable-type="String" cam-variable-name="Address" name="Address" />
  </div>
</form>
