<form name="showAddress">
  <div class="form-group">
    <label for="Address">Location</label>
    <input class="form-control" cam-variable-type="String" cam-variable-name="Location" name="Location" readonly="true" />
  </div>
</form>
